<a href="{{ post.url }}">
  <div class="card">
    <img src="{{ post.data.image }}" alt="" />
    <div class="card-info">
      <h1>{{ post.data.title }}</h1>
      <p>{{ post.data.titleDescription }}</p>
    </div>
  </div>
</a>
