---
layout: 'base.njk'
---
     <div class="project-container">
      <div class="maincontainer">
        <main>
          <div> WORK / {{ title }} </div> 
          <h1> {{ title }}</h1>
           
          {{ content | safe }}
          
          </main>
          </div>

        </div>  
                 