---
layout: 'base.njk'
---




<main class="about-info-box">
    
    <div class="about-info">
   <h1>ABOUT ME</h1>
   <p> I am a B.des Textile Design graduate from NIFT Kolkata. As a textile designer, I have been actively contributing towards the craft sector for the last few years. 
</br></br>My journey started with an internship at Craftroots Ahmedabad to explore textiles in the handloom and handicraft sectors. Later on, I ended up creating two women's wear apparel collections for the graduation project at Craftroots. 
</br></br>The first collection is Ajrakh on handwoven banana fabric and the second with Ashawali Brocade. For the same, I won the best graduation project at NIFTKolkata. 
</br>With the Ajrakh collection, I was one of the finalists at the LexusDesign Award 2023.
    At Craftroots being the first job, I had a wonderful 1.5 years of experience as a Textile Designer. At craftroots, I received the opportunity to work on several projects like the Tangaliya Project for IGNCA Delhi for the Craft Museum at Red Fort, and the Patola Revival Project at Patan and curated several textiles and collections.
</p>   </br></br>
    <p>Creative skills</p>
   
    <p>Weaving - Embroidery - Illustration - Print Design -
    Graphic Design - Dyeing - Printing - Stitching - Editorial Design - Front-end Web Development - Photography - 
    Video editing - Specialsied in design and development of handwoven Brocade and Ajrakh. 
    </p>
</div>
</main>
<!-- about_content -->
